
.navbarNav{
    justify-content: space-around;
    font-size: 20px;       
}

ul, li, a .navbar-nav{
   
    font-family: sans-serif;
    justify-content: space-around;
}

.card{
    margin: 40px;
}

.card-deck{
    padding-bottom: 40px;
}

.card-body{
    padding-bottom: 1px;
}


.grid1{
    display: grid;
    
}

.modal-title_cad{
    padding: 20px;
    font-size: 25px;
}

.modal-footer{
    
}

#btn_sub{
    border-radius: 10px;
}

#btn_cance{
    border-radius: 10px;
}

.form_log{
    padding:
}


